---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap"> A complete list of my publications is available in <a href="{{site.author.googlescholar}}">Google Scholar</a> and <a href="{{site.author.orcid}}">ORCID.</a> 
  {% endif %}

{% include base_path %}



Like many other websites, this site uses log files to help learn about when, from where, and how often traffic flows to this site. The information in these log files include:

* Internet Protocol addresses (IP)
* Types of browser
    




